@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

body {
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: gainsboro;
}

div.element {
  font-size: 5rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
